<iamlisteningbar>
<header id="header" class="">
				<div id='listeningBar' style="background-color: red; display: none;">
 					<h2 style="text-align: center; ">Go ahead and talk - I AM LISTENING</h2> 
				</div>
</header>
</iamlisteningbar>